<center><h1 style="padding-top:40px">BigBlueButton Test Application</h1></center>

<!--
    <div style="margin-top:50px">
        <h2>Join a Session</h2>
        <form class="ui-form">
            <%= form_tag('/join_demo',method:"post")%>
            <%= text_field_tag(:username,"",{placeholder:"Name"})%> <br>
            <%= submit_tag("Join Room", class: "ui button green")%>
        </form>
    </div>
-->

<center>
    <div style="margin-top:20px">
        <h2>Create a meeting room</h2>
        <div class="ui-form">
            <%= form_tag('create_meeting',method:"post")%>
            <%= text_field_tag(:meeting_name,"",{placeholder:"Meeting Name",required:""})%>
            <%= text_field_tag(:meeting_id,"",{placeholder:"Meeting ID",required:""})%>
            <%= submit_tag("Create Room", class: "ui button green")%>
        </div>
    </div>
</center>